# Network analysis of the data.
The goal of this notebook is to uncover several constructions inside the dataset which may help us to uncover fraud.  
It will also help us learn network analysis in the networkx package for Python.

In [7]:
import pandas as pd
import numpy as np
import networkx as nx

#### Load data.

In [8]:
client_info = pd.read_csv('data/client_info.csv')
demographic_info = pd.read_csv('data/demographic_data.csv')
transaction_info = pd.read_csv('data/transction_info.csv')
order_info = pd.read_csv('data/order_info.csv')

,Unnamed: 0,client_id,birth_number,district_id_client,sex,disp_id,account_id,type_client,district_id_branch,frequency,date_client,loan_id,date_loan,amount,duration,payments,status,card_id,type_card,issued
0,0,1,1970-12-13,18,F,1,1,OWNER,18,monthly,1995-03-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,1945-02-04,1,M,2,2,OWNER,1,monthly,1993-02-26,4959.0,1994-01-05,80952.0,24.0,3373.0,fin_no_problem,NaN,NaN,NaN
2,2,3,1940-10-09,1,F,3,2,DISPONENT,1,monthly,1993-02-26,4959.0,1994-01-05,80952.0,24.0,3373.0,fin_no_problem,NaN,NaN,NaN
3,3,4,1956-12-01,5,M,4,3,OWNER,5,monthly,1997-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,1960-07-03,5,F,5,3,DISPONENT,5,monthly,1997-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,6,1919-09-22,12,M,6,4,OWNER,12,monthly,1996-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,7,1929-01-25,15,M,7,5,OWNER,15,monthly,1997-05-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,8,1938-02-21,51,F,8,6,OWNER,51,monthly,1994-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,9,1935-10-16,60,M,9,7,OWNER,60,monthly,1996-11-24,NaN,NaN,NaN,NaN,NaN,NaN,1.0,gold,1998-10-16
9,9,10,1943-05-01,57,M,10,8,OWNER,57,monthly,1995-09-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,11,1950-08-22,57,F,11,8,DISPONENT,57,monthly,1995-09-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,12,1981-02-20,40,M,12,9,OWNER,70,monthly,1993-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,13,1974-05-29,54,F,13,10,OWNER,54,monthly,1996-08-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,14,1942-06-22,76,F,14,11,OWNER,76,monthly,1995-10-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,15,1918-08-28,21,F,15,12,OWNER,21,monthly,1997-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,16,1919-02-25,21,M,16,12,DISPONENT,21,monthly,1997-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,17,1934-10-13,76,M,17,13,OWNER,76,monthly,1997-08-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,18,1931-04-05,76,F,18,13,DISPONENT,76,monthly,1997-08-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,19,1942-12-28,47,M,19,14,OWNER,47,monthly,1996-11-27,NaN,NaN,NaN,NaN,NaN,NaN,2.0,classic,1998-03-13
19,19,20,1979-01-04,46,M,20,15,OWNER,70,monthly,1993-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,21,1952-10-29,12,F,21,16,OWNER,12,monthly,1997-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,22,1969-10-11,1,F,22,17,OWNER,1,monthly,1997-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,23,1973-05-29,1,M,23,17,DISPONENT,1,monthly,1997-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,24,1939-07-29,43,F,24,18,OWNER,43,weekly,1993-05-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,25,1939-04-23,21,F,25,19,OWNER,21,monthly,1995-04-07,4961.0,1996-04-29,30276.0,12.0,2523.0,fin_unpaid,NaN,NaN,NaN
25,25,26,1969-04-20,74,F,26,20,OWNER,74,monthly,1996-08-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,27,1966-03-26,54,F,27,21,OWNER,54,monthly,1997-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,28,1945-09-29,1,M,28,22,OWNER,1,monthly,1994-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,29,1951-09-11,30,F,29,23,OWNER,30,monthly,1993-05-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,30,1957-10-09,74,F,30,24,OWNER,74,monthly,1996-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5339,5339,13588,1974-01-29,46,M,13280,11053,OWNER,46,monthly,1997-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5340,5340,13590,1977-08-03,59,M,13282,11054,OWNER,59,weekly,1996-02-01,7246.0,1996-08-20,148920.0,60.0,2482.0,run_no_problem,NaN,NaN,NaN
5341,5341,13603,1941-07-28,46,M,13295,11065,OWNER,11,monthly,1993-03-19,7249.0,1994-06-12,69360.0,48.0,1445.0,fin_no_problem,NaN,NaN,NaN
5342,5342,13608,1963-05-15,37,F,13300,11069,OWNER,37,monthly,1995-06-02,7250.0,1997-03-04,119136.0,48.0,2482.0,run_no_problem,NaN,NaN,NaN
5343,5343,13620,1970-07-26,16,M,13312,11079,OWNER,16,monthly,1995-11-10,7253.0,1997-04-26,98304.0,12.0,8192.0,fin_no_problem,1230.0,classic,1998-03-08
5344,5344,13640,1955-06-09,28,F,13332,11096,OWNER,28,monthly,1996-12-10,7255.0,1997-06-09,213300.0,60.0,3555.0,run_no_problem,NaN,NaN,NaN
5345,5345,13657,1963-05-12,59,F,13349,11111,OWNER,1,monthly,1993-05-20,7259.0,1994-01-31,108144.0,36.0,3004.0,fin_no_problem,NaN,NaN,NaN
5346,5346,13658,1957-04-23,59,M,13350,11111,DISPONENT,1,monthly,1993-05-20,7259.0,1994-01-31,108144.0,36.0,3004.0,fin_no_problem,NaN,NaN,NaN
5347,5347,13673,1971-02-20,39,M,13365,11123,OWNER,39,monthly,1996-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5348,5348,13687,1959-05-23,75,M,13379,11135,OWNER,75,monthly,1993-10-10,7262.0,1994-03-01,182628.0,36.0,5073.0,fin_no_problem,NaN,NaN,NaN
5349,5349,13690,1963-05-16,70,M,13382,11138,OWNER,70,weekly,1995-08-18,7263.0,1996-01-19,89880.0,24.0,3745.0,fin_no_problem,1233.0,classic,1996-07-06
5350,5350,13694,1976-01-20,1,F,13386,11141,OWNER,1,weekly,1997-02-11,7264.0,1997-10-07,44940.0,12.0,3745.0,fin_no_problem,1234.0,classic,1997-11-28
5351,5351,13750,1980-11-13,12,F,13442,11186,OWNER,12,monthly,1994-11-24,7271.0,1996-10-02,392460.0,60.0,6541.0,run_no_problem,1239.0,junior,1998-02-02
5352,5352,13751,1979-07-20,12,M,13443,11186,DISPONENT,12,monthly,1994-11-24,7271.0,1996-10-02,392460.0,60.0,6541.0,run_no_problem,NaN,NaN,NaN
5353,5353,13803,1947-11-14,1,M,13495,11231,OWNER,1,monthly,1997-02-05,7277.0,1997-10-24,89280.0,12.0,7440.0,fin_no_problem,NaN,NaN,NaN
5354,5354,13820,1948-07-31,33,F,13512,11244,OWNER,33,monthly,1997-01-12,7279.0,1997-12-11,155760.0,24.0,6490.0,run_no_problem,NaN,NaN,NaN
5355,5355,13845,1973-02-16,15,M,13537,11265,OWNER,15,monthly,1993-01-14,7284.0,1993-09-15,52788.0,12.0,4399.0,fin_no_problem,NaN,NaN,NaN
5356,5356,13852,1972-01-26,5,M,13544,11271,OWNER,5,monthly,1995-09-20,7286.0,1997-01-31,67320.0,36.0,1870.0,run_no_problem,NaN,NaN,NaN
5357,5357,13886,1954-04-12,44,F,13578,11295,OWNER,74,monthly,1993-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5358,5358,13912,1975-11-20,50,M,13604,11317,OWNER,50,monthly,1997-07-11,7292.0,1998-11-22,317460.0,60.0,5291.0,run_no_problem,NaN,NaN,NaN
5359,5359,13915,1974-11-23,77,M,13607,11320,OWNER,44,monthly,1993-05-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5360,5360,13921,1970-12-20,62,F,13613,11325,OWNER,62,monthly,1996-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5361,5361,13923,1979-02-22,7,F,13615,11327,OWNER,7,monthly,1997-10-15,7294.0,1998-09-27,39168.0,24.0,1632.0,run_no_problem,NaN,NaN,NaN
5362,5362,13924,1952-09-09,54,F,13616,11328,OWNER,54,monthly,1996-11-05,7295.0,1998-07-18,280440.0,60.0,4674.0,run_no_problem,NaN,NaN,NaN
5363,5363,13931,1942-01-01,8,M,13623,11333,OWNER,8,monthly,1994-05-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5364,5364,13955,1945-10-30,1,F,13647,11349,OWNER,1,weekly,1995-05-26,7304.0,1995-10-29,419880.0,60.0,6998.0,run_no_problem,NaN,NaN,NaN
5365,5365,13956,1943-04-06,1,M,13648,11349,DISPONENT,1,weekly,1995-05-26,7304.0,1995-10-29,419880.0,60.0,6998.0,run_no_problem,NaN,NaN,NaN
5366,5366,13968,1968-04-13,61,M,13660,11359,OWNER,61,monthly,1994-10-01,7305.0,1996-08-06,54024.0,12.0,4502.0,fin_no_problem,1247.0,classic,1995-06-13
5367,5367,13971,1962-10-19,67,F,13663,11362,OWNER,67,monthly,1995-10-14,7308.0,1996-12-27,129408.0,24.0,5392.0,fin_no_problem,NaN,NaN,NaN
5368,5368,13998,1953-08-12,74,F,13690,11382,OWNER,74,monthly,1995-08-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN